@if ($enableSmoothScroll) {
    html {
        scroll-behavior: smooth;
    }
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: $fontSize;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}

body {
    @include tabSize;
    color: #c9c9c9;
    background-color: #242424;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.618;
    transition: all $duration;
}

.container {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.main {
    padding: 2em 1em 15em;
    display: block;
}

@if ($headerLayoutFlex) {
    .main {
        padding-top: 7em;
    }
}

.main-inner {
    margin: 0 auto;
    display: block;
}

.icon {
    width: 1.05em; // fixes svg icon get cut off on safari
    height: 1em;
    fill: currentColor;
    display: inline-block;
}
svg {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    margin: 50px;
    a {
        text-decoration: none !important;
    }
}
h1 {
    font-size: 2em;
    color: #f5704c;
}
h2 {
    font-size: 1.8em;
    color: #f5a14c;
}
h3 {
    font-size: 1.6em;
    color: #ede482;
}
h4 {
    font-size: 1.4em;
    color: #aade62;
}
h5 {
    font-size: 1.2em;
    color: #62deac;
}
h6 {
    font-size: 1em;
    color: #62b7de;

}

a {
    color: #ffbe00;
    text-decoration: none;
    transition: all $duration;
    &:hover {
        color: #fe6a26;
    }
}

::selection {
    background-color: alpha(var(--color-primary), 0.3);
}

/* Mis cambios */
strong {
  color: #aade62;
  font-weight: 900;
}

em {
  color: #f5a14c;
}
